[user]
	name = Vartan Benohanian
	email = vartanbeno@gmail.com
[alias]
        lg1 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
        lg2 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all
        lg3 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset) %C(dim white)- %an%C(reset)%n%C(white)%B%C(reset)' --all
        lg4 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)'
        lg = !"git lg3"
        c = commit -s --cleanup=scissors
        ca = commit --amend --cleanup=scissors
        can = commit --amend --no-edit
        s = status
        sd = status .
        b = branch
        ba = branch -a
        bv = branch -vv
        diffs = diff --staged
        shoq = show --quiet
        c- = checkout -

# Tip: how to exclude a file from git grep/show/etc.
# git show -- './*' ':!package-lock.json'
# git grep something -- './*' ':!directory'
